@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  /* Fonts */
  --font-mono: var(--font-mono), monospace;

  /* Colors */
  --color-primary: #1c1c22;

  --color-accent: #00ff99;
  --color-accent-hover: #00e187;
}

@layer base {
  body {
    @apply bg-primary text-white leading-loose;
  }
}
